<html>
    <head>
      <title>Attributes</title>
       <link rel="stylesheet" href="/public/app/views/attributes.css">
       <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    </head>
    <body>
        <div id="header" class="navbar navbar-default navbar-fixed-top">
    <nav class="collapse navbar-collapse pull-right">
    </nav>
</div>
<div class="headingContainer">
  <div>
      <a class="btn" href="/{{ sheet.charData.data._id }}">Back</a>
  </div>
  <div>
      <h3 class="desc">Ability Scores and Skills</h3>
  </div>
  <div style="padding-right:50px; size:100%;">
  <div >
    <p1 class="legend pull-left" style="padding-left: 175px">Score </p1>
    <p1 class="legend pull-left" style="padding-left: 60px">Mod. </p1>
    <p1 class="legend pull-left" style="padding-left: 55px">Prof. </p1>
    <p1 class="legend pull-left" style="padding-left: 35px">Save </p1>
    <p2 class="legend pull-right" style="padding-right: 155px">Display </p2>
    <p2 class="legend pull-right" style="padding-right: 70px">Mod. </p2>
    <p2 class="legend pull-right" style="padding-right: 65px">Misc. </p2>
    <p2 class="legend pull-right" style="padding-right: 55px">Prof. </p2>
  </div>
    </divdiv>
  <div class="container row">
    <div class="panel panel-default pull-left">
          <div class="panel-body col">
          <p1 class="liner" id="togA">Strength: </p1>
          <input id="chain" type="button" value="-">
          <input id="chain" type="text" class="liner"  placeholder=" {{ sheet.charData.data.str}}" style="width: 42px;"/>
          <input id="chain" type="button" value="+">
          <p2 class="liner" id="togA">+1 </p2>
          <input class="liner" id="togA" type="checkbox">
          <p2 class="liner">+3 </p2>
          </div>
    </div>
    <div class="panel panel-default pull-right">
          <div class="panel-body col">
            <p1 class="liner2" id="tog">Athletics: </p1>
              <input class="liner2" id="tog" type="checkbox">
              <input type="text" class="form-control liner2" id="tog" placeholder="Misc." style="width: 60px;">
              <p2 class="liner2" id="tog">+1 </p2>
              <input class="liner2" id="tog" type="checkbox">

          </div>
    </div>
  </div>
  <div class="container row">
    <div class="panel panel-default pull-left">
          <div class="panel-body col">
          <p1 class="liner" id="togA">Dexterity: </p1>
          <input id="chain" type="button" value="-">
          <input id="chain" type="text" class="liner"  placeholder="{{ sheet.charData.data.dex}}" style="width: 42px;"/>
          <input id="chain" type="button" value="+">
          <p2 class="liner" id="togA">+1 </p2>
          <input class="liner" id="togA" type="checkbox">
          <p2 class="liner" id="togA">+3 </p2>
          </div>
    </div>
    <div class="panel panel-default pull-right">
          <div class="panel-body col">
            <p class="liner2" id="tog" >Acrobatics: </p>
              <input class="liner2" id="tog" type="checkbox">
              <input type="text" class="form-control liner2" id="tog" placeholder="Misc." style="width: 60px;">
              <p2 class="liner2" id="tog">+1 </p2>
              <input class="liner2" id="tog" type="checkbox">
          </div>
      <div class="panel-body col">
            <p class="liner2" id="tog">Sleight of Hand: </p>
              <input class="liner2" id="tog" type="checkbox">
              <input type="text" class="form-control liner2" id="tog" placeholder="Misc." style="width: 60px;">
              <p2 class="liner2" id="tog">+1 </p2>
              <input class="liner2" id="tog" type="checkbox">
          </div>
      <div class="panel-body col">
            <p class="liner2" id="tog">Stealth: </p>
              <input class="liner2" id="tog" type="checkbox">
              <input type="text" class="form-control liner2" id="tog" placeholder="Misc." style="width: 60px;">
              <p2 class="liner2" id="tog">+1 </p2>
              <input class="liner2" id="tog" type="checkbox">
          </div>
    </div>
  </div>
  <div class="container row">
    <div class="panel panel-default pull-left">
          <div class="panel-body col">
          <p1 class="liner" id="togA">Constitution: </p1>
          <input id="chain" type="button" value="-">
          <input id="chain" type="text" class="liner"  placeholder="Score" style="width: 42px;"/>
          <input id="chain" type="button" value="+">
          <p2 class="liner" id="togA">+1 </p2>
          <input class="liner" id="togA" type="checkbox">
          <p2 class="liner" id="togA">+3 </p2>
          </div>
    </div>
    <div class="panel panel-default pull-right">
      <div class="panel-body col"></div>
    </div>
  </div>
  <div class="container row">
    <div class="panel panel-default pull-left">
          <div class="panel-body col">
          <p1 class="liner" id="togA" >Intelligence: </p1>
              <input id="chain" type="button" value="-">
              <input id="chain" type="text" class="liner"  placeholder="Score" style="width: 42px;"/>
              <input id="chain" type="button" value="+">
          <p2 class="liner"id="togA" >+1 </p2>
          <input class="liner" id="togA" type="checkbox">
          <p2 class="liner" id="togA">+3 </p2>
          </div>
    </div>
    <div class="panel panel-default pull-right">
          <div class="panel-body col">
            <p1 class="liner2" id="tog">Arcana: </p1>
              <input class="liner2" id="tog" type="checkbox">
              <input type="text" class="form-control liner2" id="tog" placeholder="Misc." style="width: 60px;">
             <p2 class="liner2" id="tog">+1 </p2>
             <input class="liner2" id="tog" type="checkbox">
          </div>
      <div class="panel-body col">
            <p1 class="liner2" id="tog">History: </p1>
              <input class="liner2" id="tog" type="checkbox">
              <input type="text" class="form-control liner2" id="tog" placeholder="Misc." style="width: 60px;">
              <p2 class="liner2" id="tog">+1 </p2>
              <input class="liner2" id="tog" type="checkbox">
          </div>
      <div class="panel-body col">
            <p1 class="liner2" id="tog">Investigation: </p1>
              <input class="liner2" id="tog" type="checkbox">
              <input type="text" class="form-control liner2" id="tog" placeholder="Misc." style="width: 60px;">
              <p2 class="liner2" id="tog">+1 </p2>
              <input class="liner2" id="tog" type="checkbox">
          </div>
      <div class="panel-body col">
            <p1 class="liner2" id="tog">Nature: </p1>
              <input class="liner2" id="tog" type="checkbox">
              <input type="text" class="form-control liner2" id="tog" placeholder="Misc." style="width: 60px;">
              <p2 class="liner2" id="tog">+1 </p2>
              <input class="liner2" id="tog" type="checkbox">
          </div>
      <div class="panel-body col">
            <p1 class="liner2" id="tog">Religion: </p1>
              <input class="liner2" id="tog" type="checkbox">
              <input type="text" class="form-control liner2" id="tog" placeholder="Misc." style="width: 60px;">
              <p2 class="liner2" id="tog">+1 </p2>
              <input class="liner2" id="tog" type="checkbox">
          </div>
    </div>
  </div>
  <div class="container row">
    <div class="panel panel-default pull-left">
          <div class="panel-body col">
          <p1 class="liner" id="togA">Wisdom: </p1>
          <input id="chain" type="button" value="-">
          <input id="chain" type="text" class="liner"  placeholder="Score" style="width: 42px;"/>
          <input id="chain" type="button" value="+">
          <p2 class="liner" id="togA">+1 </p2>
          <input class="liner" id="togA" type="checkbox">
          <p2 class="liner" id="togA">+3 </p2>
          </div>
    </div>
    <div class="panel panel-default pull-right">
          <div class="panel-body col">
            <p1 class="liner2" id="tog">Animal Handling: </p1>
              <input class="liner2" id="tog" type="checkbox">
              <input type="text" class="form-control liner2" id="tog" placeholder="Misc." style="width: 60px;">
              <p2 class="liner2" id="tog">+1 </p2>
              <input class="liner2" id="tog" type="checkbox">
          </div>
      <div class="panel-body col">
            <p1 class="liner2" id="tog">Insight: </p1>
              <input class="liner2" id="tog" type="checkbox">
              <input type="text" class="form-control liner2" id="tog" placeholder="Misc." style="width: 60px;">
              <p2 class="liner2" id="tog">+1 </p2>
              <input class="liner2" id="tog" type="checkbox">
          </div>
      <div class="panel-body col">
            <p1 class="liner2" id="tog">Medicine: </p1>
              <input class="liner2" id="tog" type="checkbox">
              <input type="text" class="form-control liner2" id="tog" placeholder="Misc." style="width: 60px;">
              <p2 class="liner2" id="tog">+1 </p2>
              <input class="liner2" id="tog" type="checkbox">
          </div>
      <div class="panel-body col">
            <p1 class="liner2" id="tog">Perception: </p1>
              <input class="liner2" id="tog" type="checkbox">
              <input type="text" class="form-control liner2" id="tog" placeholder="Misc." style="width: 60px;">
              <p2 class="liner2" id="tog">+1 </p2>
              <input class="liner2" id="tog" type="checkbox">
          </div>
      <div class="panel-body col">
            <p1 class="liner2" id="tog">Survival: </p1>
              <input class="liner2" id="tog" type="checkbox">
              <input type="text" class="form-control liner2" id="tog" placeholder="Misc." style="width: 60px;">
              <p2 class="liner2" id="tog">+1 </p2>
              <input class="liner2" id="tog" type="checkbox">
          </div>
    </div>
  </div>
  <div class="container row">
    <div class="panel panel-default pull-left">
          <div class="panel-body col">
          <p1 class="liner" id="togA">Charisma: </p1>
          <input id="chain" type="button" value="-">
          <input id="chain" type="text" class="liner"  placeholder="Score" style="width: 42px;"/>
          <input id="chain" type="button" value="+">
          <p2 class="liner" id="togA">+1 </p2>
          <input class="liner" id="togA" type="checkbox">
          <p2 class="liner" id="togA">+3 </p2>
          </div>
    </div>
    <div class="panel panel-default pull-right">
          <div class="panel-body col">
            <p1 class="liner2" id="tog">Deception: </p1>
              <input class="liner2" id="tog" type="checkbox">
              <input type="text" class="form-control liner2" id="tog" placeholder="Score" style="width: 60px;">
              <p2 class="liner2" id="tog">+1 </p2>
              <input class="liner2" id="tog" type="checkbox">
          </div>
      <div class="panel-body col">
            <p1 class="liner2" id="tog">Intimidation: </p1>
              <input class="liner2" id="tog" type="checkbox">
              <input type="text" class="form-control liner2" id="tog" placeholder="Misc." style="width: 60px;">
              <p2 class="liner2" id="tog">+1 </p2>
              <input class="liner2" id="tog" type="checkbox">
          </div>
      <div class="panel-body col">
            <p1 class="liner2" id="tog">Performance: </p1>
              <input class="liner2" id="tog" type="checkbox">
              <input type="text" class="form-control liner2" id="tog" placeholder="Misc." style="width: 60px;">
              <p2 class="liner2" id="tog">+1 </p2>
              <input class="liner2" id="tog" type="checkbox">
          </div>
      <div class="panel-body col">
            <p1 class="liner2" id="tog">Perception: </p1>
              <input class="liner2" id="tog" type="checkbox">
              <input type="text" class="form-control liner2" id="tog" placeholder="Misc." style="width: 60px;">
              <p2 class="liner2" id="tog">+1 </p2>
              <input class="liner2" id="tog" type="checkbox">
          </div>
    </div>
  </div>
</div>
    </body>
</html>
