<html>
    <head>
     <meta charset="UTF-8">
      <title>Character Sheet</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="/public/app/views/charsheet.css">
    </head>
    <body>
       <div id="header" class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="icon-reorder"></i>
        </button>
        <a class="navbar-brand" ng-if="!sheet.saved" ng-click="sheet.saveCharacter()" href="/{{ sheet.charData.data._id }}"> Save</a>
        <a class="navbar-brand" ng-if="sheet.saved"> Saved!</a>
      <a class="navbar-brand" href="/"> Return To Character Selection</a>
    </div>
</div>

<div id="wrapper">
  <div id="sidebar-wrapper" class="col-md-3">
            <div id="sidebar">
                <ul class="nav list-group">
                    <li>
                      <a class="list-group-item" href="/{{ sheet.charData.data._id }}/attributes"><i class="icon-home icon-1x"></i>Ability Scores/Skills</a>
                    </li>
                    <li>
                        <a class="list-group-item" href="/{{ sheet.charData.data._id }}/description"><i class="icon-home icon-1x"></i>Description</a>
                    </li>
                    <li>
                        <a class="list-group-item" href="/{{ sheet.charData.data._id }}/properties"><i class="icon-home icon-1x"></i>Properties</a>
                    </li>
                  <li>
                        <a class="list-group-item" href="/{{ sheet.charData.data._id }}/traits"><i class="icon-home icon-1x"></i>Traits</a>
                    </li>
                  <li>
                        <a class="list-group-item" href="/{{ sheet.charData.data._id }}/class"><i class="icon-home icon-1x"></i>Class Features</a>
                    </li>
                  <li>
                        <a class="list-group-item" href="/{{ sheet.charData.data._id }}/actions"><i class="icon-home icon-1x"></i>Actions</a>
                    </li>
                  <li>
                        <a class="list-group-item" href="/{{ sheet.charData.data._id }}/spells"><i class="icon-home icon-1x"></i>Spells</a>
                    </li>
                  <li>
                        <a class="list-group-item" href="/{{ sheet.charData.data._id }}/reactions"><i class="icon-home icon-1x"></i>Reactions</a>
                    </li>
                  <li>
                        <a class="list-group-item" href="/{{ sheet.charData.data._id }}/legactions"><i class="icon-home icon-1x"></i>Legendary Actions</a>
                    </li>
                  <li>
                        <a class="list-group-item" href="/{{ sheet.charData.data._id }}//lair"><i class="icon-home icon-1x"></i>Lair</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="main-wrapper" class="col-md-9 pull-left">
            <div id="main">
              <div class="page-header">
                <h3>{{ sheet.charData.data.name }}</h3>
                {{ sheet.charData.data.size }} {{ sheet.charData.data.race }} - {{ sheet.charData.data.alignment }}
              </div>
              <div class="table-responsive col-md-6">
              <table class="table col-md-4 pull-left">
				<thead>
                  <tr>
                    <th>Ability Score
                    </th>
                    <th>Score
                    </th>
                    <th>Modifier
                    </th>
                  </tr>
                </thead>
				<tbody>
                  <tr>
                    <td>Str:</td>
                    <td> {{ sheet.charData.data.str}}</td>
                    <td> {{ sheet.charData.data.strmod }}</td>
                  </tr>
                  <tr>
                    <td>Dex:</td>
                    <td> {{ sheet.charData.data.dex}}</td>
                    <td> {{ sheet.charData.data.dexmod }}</td>
                  </tr>
                  <tr>
                    <td>Con:</td>
                    <td> {{ sheet.charData.data.con}}</td>
                    <td> {{ sheet.charData.data.conmod }}</td>
                  </tr>
                  <tr>
                    <td>Int:</td>
                    <td> {{ sheet.charData.data.int}}</td>
                    <td> {{ sheet.charData.data.intmod }}</td>
                  </tr>
                  <tr>
                    <td>Wis:</td>
                    <td> {{ sheet.charData.data.wis}}</td>
                    <td> {{ sheet.charData.data.wismod }}</td>
                  </tr>
                  <tr>
                    <td>Cha:</td>
                    <td> {{ sheet.charData.data.cha}}</td>
                    <td> {{ sheet.charData.data.chamod }}</td>
                  </tr>
                </tbody>
			</table>
    </div>
    <div class="table-responsive col-md-6">
              <table class="table col-md-4 pull-right">
				<thead>
                  <tr>
                    <td>Saving Throws: </td>
                  </tr>
                </thead>
				<tbody>
          <tr>
            <td>Proficiency: {{ sheet.charData.data.proficiency }}</td>
          </tr>
                  <tr>
                    <td>Skills: </td>
                  </tr>
                  <tr>
                    <td>Immunities: {{ sheet.charData.data.immunities }}</td>
                  </tr>
                  <tr>
                    <td>Senses: {{ sheet.charData.data.senses }}</td>
                  </tr>
                  <tr>
                    <td>Languages: {{ sheet.charData.data.languages }}</td>
                  </tr>
                  <tr>
                    <td>Challenge: {{ sheet.charData.data.challenge }}</td>
                  </tr>
                </tbody>
			</table>
    </div>

           <!-- ng-reapeat stuff should go here-->
            </div>
            <div id="attribute-wrapper"> <!--The whole container is here  -->
                    <div>  <!--Trait section is here here  -->
                        <div>  <!--One entry is here  -->

                        </div>
                    </div>
                    <div ng-if="sheet.charData.data.actions != undefined && sheet.charData.data.actions.length != 0">  <!--Actions section is here here  -->
                       <h2>Actions</h2>
                       <div>
                           <ul class="list-unstyled" ng-init="sheet.gatherAttributes()">
                               <li ng-repeat="item in sheet.actions track by $index">
                               <label class="customLabel" id="{{ item.data._id }}" ng-init="sheet.logAttr(item)"></label>
                                 <h3>{{ item.data.name }}</h3>
                                 {{item.data.description}}
                               <div class="pull-right actions">
                                 <a class="btn btn-primary" ng-click="">Modify</a>
                                 <a class="btn btn-primary" ng-click="sheet.removeAttribute($index, item.data.type)" href="/{{ sheet.charData.data._id }}">Remove</a>
                               </div>
                           </li>
                          </ul>
                       </div>
                    </div>
                    <div>  <!--Class Features section is here here  -->
                       <h2>Class Features</h2>
                        <div>  <!--One entry is here  -->

                        </div>
                    </div>
                    <div>  <!--Spell section is here here  -->
                       <h2>Spell</h2>
                        <div>  <!--One entry is here  -->

                        </div>
                    </div>
                    <div>  <!--Reactions section is here here  -->
                       <h2>Reactions</h2>
                        <div>  <!--One entry is here  -->


                        </div>
                    </div>
                    <div>  <!--Legendary Actions section is here here  -->
                       <h2>Legendary Actions</h2>
                        <div>  <!--One entry is here  -->


                        </div>
                    </div>
                    <div>  <!--Lair section is here here  -->
                       <h2>Lair</h2>
                        <div>  <!--One entry is here  -->

                        </div>
                    </div>

                </div>
        </div>
</div>


    </body>
</html>
