<html>
   <head>
       <title>Lair</title>
       <link rel="stylesheet" href="description.css">
       <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
   </head>
    <body>
        <div id="header" class="navbar navbar-default navbar-fixed-top">
            <nav class="collapse navbar-collapse pull-left" style="padding-right: 50px">
            <div class="navbar-header">
                    <a class="navbar-brand" href="#">Back to Character Sheet</a>
                </div>
            </nav>
            <nav class="collapse navbar-collapse pull-right" style="padding-right: 50px">
            <div class="navbar-header">
                    <a class="navbar-brand" href="#">Save</a>
                </div>
            </nav>
        </div>
        <div class="container">
          <div>
              <h3 class="desc col-md-6" style="text-align:right;">Lair</h3>
          </div>
        </div>
        <div class="container">
            <form>
              <p1 class="desc-max-input" >Description: <textarea class="form-control" style="height:100px; resize:vertical;" wrap="soft" rows="4"></textarea></p1>
            </form>
        </div>
        <div class="container">
            <form>
              <p1 class="desc-max-input" >Lair Actions: <textarea class="form-control" style="height:100px; resize:vertical;" wrap="soft" rows="4"></textarea></p1>
            </form>
        </div>
        <div class="container">
            <form>
              <p1 class="desc-max-input" >Regional Effects: <textarea class="form-control" style="height:100px; resize:vertical;" wrap="soft" rows="4"></textarea></p1>
            </form>
        </div>
    </body>
</html>