<html>
    <head>
        <meta charset="UTF-8">
      <title>Select Screen</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="/public/app/views/selectScreen.css">
       <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
       <script language="JavaScript" type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
       <script language="JavaScript" type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
       <script language="JavaScript" type="text/javascript" src="node_modules/bootstrap/js/carousel.js"></script>
    </head>
    <body>

        <!-- Carousel
        ================================================== -->
        <div id="myCarousel" class="carousel slide" data-interval="false" >
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" ng-show="char.characters">
            <div class="item active" style="height=4000px;">
              <div class="container" ng-repeat="sheet in char.characters.data">
                <div class="carousel-caption">
                  <h1>{{ sheet.name }}</h1>
                    <p><font size="3">{{ sheet.race }}</font></p>
                    <p><font size="3">{{ sheet.alignment }}</font></p>
                  <p><a class="btn btn-lg btn-primary" href="/{{ sheet._id }}">Select</a>
                </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
          </a>
        </div>
        <!-- /.carousel -->
        <div style="text-align:center;">
            <div class="btn-group">
              <button class="btn">+Create New Sheet</button>
            </div>
        </div>
    </body>
</html>
