<html>
    <head>
        <meta charset="UTF-8">
      <title>Select Screen</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="selectScreen.css">
       <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
       <script language="JavaScript" type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
       <script language="JavaScript" type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
       <script language="JavaScript" type="text/javascript" src="node_modules/bootstrap/js/carousel.js"></script>
    </head>
    <body>
      <div class="navbar-wrapper">
        <div class="container">
          <div class="navbar navbar-inverse navbar-static-top">
              <div class="navbar-header pull-left">
                <a class="navbar-brand pull-left" href="/">Obsidian</a>
              </div>
              <div class="navbar-header pull-right">
                <a class="navbar-brand pull-right" href="/">+Create New Character Sheet</a>
              </div>
          </div>
        </div><!-- /container -->
      </div><!-- /navbar wrapper -->
       
        <h3 class="notifier">Character Select</h3>
        <table class="table" style="width:1140px;">
            <thead>
                <tr>
                    <th>Character</th>
                    <th>Race</th>
                    <th>Alignment</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Barbara</th>
                    <th>Amazonian</th>
                    <th>Horde</th>
                    <th>
                        <a class="btn btn-lg btn-primary" href="/{{ sheet._id }}">Select</a>
                    </th>
                </tr>
            </tbody>
        </table>
    </body>
</html>
