<html>
    <head>
        <meta charset="UTF-8">
      <title>Select Screen</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="/public/app/views/selectScreen.css">
       <script src="node_modules/bootstrap/js/carousel.js"></script>
    </head>
    <body>

      <div class="navbar-wrapper">
        <div class="container">
          <div class="navbar navbar-inverse navbar-static-top">

              <div class="navbar-header">
              <a class="navbar-brand" href="/">Obsidian</a>
              </div>
          </div>
        </div><!-- /container -->
      </div><!-- /navbar wrapper -->

        <!-- Carousel
        ================================================== -->
      <div class="container" ng-show="char.characters">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators" ng-repeat="sheet in char.characters.data">
            <li data-target="#myCarousel" data-slide-to="$index" ng-class="{'active': $index == 0}"></li>
          </ol>
          <div class="carousel-inner" role="listbox" ng-repeat="sheet in char.characters.data">
            <div class="item" ng-class="{'active': $index == 0}">
                <div class="carousel-caption">
                  <h1>{{ sheet.name }}</h1>
                    <p><font size="3">{{ sheet.race }}</font></p>
                    <p><font size="3">{{ sheet.alignment }}</font></p>
                  <p><a class="btn btn-lg btn-primary" href="/{{ sheet._id }}">Select</a></p>
                </div>
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="icon-prev"></span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="icon-next"></span>
          </a>
        </div>
      </div>
        <!-- /.carousel -->
        <div style="text-align:center;">
            <div class="btn-group">
              <button class="btn">+Create New Sheet</button>
            </div>
        </div>
    </body>
</html>
